[2021-03-25 15:30] jhuleatt opened #3 "Suggest adding `validationRegex` for params in `extension.yaml`"
Suggest using [`validationRegex`](https://firebase.google.com/docs/extensions/alpha/parameters#validation-regex-field) so that someone installing the extension can be notified early if an entered param value is incorrect.

`COLLECTION_PATH`: [here's an example validationRegex](https://github.com/firebase/extensions/blob/c2f3f0f15d071042e8df4901c19dcc53f32d728c/firestore-send-email/extension.yaml#L

[2021-04-08 21:35] #3 closed

[2021-04-14 01:08] i14h opened #14 "Better descriptions for params in extension config"
Descriptions for some params are too short and assume the user knows the details about Algolia which might not be the case. A better more descriptive message would help. A link to the related docs would  also help (for all params)

![image](https://user-images.githubusercontent.com/678917/114639631-32b05d80-9c83-11eb-8e12-09d7d0122000.png)

[2021-04-14 17:18] jhuleatt commented on #14
Example from Stripe extension: https://github.com/stripe/stripe-firebase-extensions/blob/abb30f929a5538139034302bc229018f2c1555b3/firestore-stripe-subscriptions/extension.yaml#L200-L203

[2021-04-15 02:24] i14h opened #16 "Make import script runnable via npx"
It might be a bit of a hassle for users to clone the repo and run the import script. One option is to make it runnable via an npx command like `npx github:algolia/firestore-algolia-search/...`

[2021-04-15 19:28] i14h commented on #16
@smomin you can take a look at the scripts for the bigquery extension https://github.com/firebase/extensions/blob/next/.github/workflows/npm_publish_bq_scripts.yml

[2021-04-17 04:40] smomin commented on #14
#20

[2021-04-17 04:40] #14 closed

[2021-04-23 04:56] smomin commented on #16
This has been completed.

[2021-04-23 04:56] #16 closed

[2021-05-20 21:05] mattdbrown opened #27 "Error: Cannot find module './lib/import/index'"
Attempting to run the script so I can synchronize my Firestore collection with the Algolia index, I just can't get it running.  I have tried multiple versions of node: latest, LTS, and a few other random versions to no success.  Have also tried it on both macOS and Ubuntu 20.04 (on WSL2).   The error message and trace is:

[code]

[2021-05-21 07:27] #27 closed

[2021-05-22 17:35] alexobviously opened #29 "Handling of 'reference' field type in Firestore - currently it exposes sensitive information and is unintuitively formatted"
Hi, I posted this on the Algolia forum: https://discourse.algolia.com/t/how-to-handle-firestore-reference-types-in-algolia-currently-they-store-sensitive-and-unnecessary-information-when-imported/12685

But after having reviewed the code of this tool, I think it's more appropriate to open an issue here.

Quick summary:
- It seems that the format returned when fetching a `Reference` field value fro

[2021-05-24 05:33] smomin commented on #29
hey @alexobviously  I am looking at this right now.  I hope to get this out by this week.  I will attach the PR number to this issue once it is released. Let me know if you have any questions.

[2021-05-24 19:27] smomin commented on #29
PR #30: Support for Timestamp, Reference, and GeoPoint field type processing.

[2021-05-25 07:39] PeterCardenas opened #31 "Mutate and Create Fields When Sending to Algolia"
Hello! We currently have some cloud functions that mutates our Algolia indices when relevant documents are created, updated, or deleted, and we are excited to discover that this Firebase extension can help remove some of this code. However, one of our indices change one field to a more search-friendly form, i.e. turning a serialized JSON of rich text into plaintext. We would like to move all of ou

[2021-05-26 17:03] oodavid opened #32 "Race condition"
Context: We have our own Algolia sync cloud function.

Reading through your sources I can see you will have a race condition issue due to hot and cold-start functions. It's not the easiest to detect, but can cause havoc in production.

I'm not at the office till tomorrow, but I will record a demonstration of the issue and simple solution.

[2021-05-27 16:35] oodavid commented on #32
As promised:

https://www.loom.com/share/f9ba58288092453c857c72a64d4f9612

The mad diagram I made:

[code]

[2021-05-30 17:29] Mario8419 opened #33 "objectID to id"
When creating a firestore doc it automatically creates an id for the document as known. later on, this object is indexed by algolia with it's own prop objectID. any idea to automatically transform this objectID to id because my app is based to work with the id prop and not objectID when getting search results from algolia? this would be very useful to avoid unnecessary duplicate code in my applica

[2021-05-31 03:27] smomin commented on #33
hey mario, from what I understand from your description, you want the Algolia record to have the `id` attribute instead of the `objectID`.   Algolia `objectID` is required so another attribute can not take its place.  If you want the id in the Algolia record, you can request a feature where the `id` attribute is also added to the Algolia record.  This way the `objectID` and `id` will be in the Alg

[2021-05-31 03:29] smomin commented on #32
Hey oodavid, thanks for creating this issue.  We are aware of the race condition since this extension is trigger async, so that the last update wins.  I am curious, what is your approach to sync?  Are you using a FIFO queue?

[2021-05-31 04:03] smomin commented on #31
hey Peter, I want to better understand your use case.  Are you looking to inject your logic to post process fields values before it is indexed into Algolia?

[2021-05-31 16:30] Mario8419 commented on #33
hey smomin, thx for your quick answer. This is what I was searching for, and of course it's a feature not a bug, so sry for posting it here, but couldn't find anything dealing with the id and objectID in algolia forum. that would be what would help in my case, but I don't know how it looks with other users of this plugin!

For now I solved my use case with partialUpdateObject for my search results

[2021-06-01 18:45] PeterCardenas commented on #31
hi! thanks so much for getting back to me, that is indeed my use case.

[2021-06-02 04:31] smomin commented on #31
I will have to do some R&D on how to call external functions.

[2021-06-02 13:01] #29 closed

[2021-06-04 16:20] smomin commented on #32
Hey @oodavid , since Algolia provides a way to version data, I am opting to use this approach instead of doing the additional read of the data.  Take a look at the PR and let me know what you think.

https://www.algolia.com/doc/guides/sending-and-managing-data/send-and-update-your-data/in-depth/handling-concurrency-with-versioning/

https://www.algolia.com/doc/api-reference/api-methods/partial-upd

[2021-06-04 17:19] oodavid commented on #32
That's a great approach. I hadn't realised this was available in Algolia!

I won't have time to look at this till Monday (possibly this weekend). A quick eyeball of the PR looks solid.

We'll update our function to use this approach too

[2021-06-04 18:36] PeterCardenas opened #35 "New Documents Added When Adding Field To Preexisting Documents"
We recently ran a script to add a field to all pre-existing documents, and even though this field was not part of the indexable fields list, documents that were previously not in the index were added to it. We would like only for documents to be added to the index if they have all the indexable fields, and only if the indexable fields have changed.

[2021-06-05 07:14] alexobviously commented on #29
Seems to be working well for us, thanks @smomin!

[2021-06-05 22:57] zphoenixz opened #36 "Subcollections support"
It's not possible to have a subcollection tied to the function, it has to be on the root or it won't work.

[2021-06-06 04:31] smomin commented on #36
I am not sure I understand your use case.  If you can provide more details, I can try to look into it.  thanks

[2021-06-06 21:46] zphoenixz commented on #36
Sorry, what I meant is that if it's possible to use listeners to collections with interpolated document keys something like "parent_collection/$document_id/target_collection"

[2021-06-07 15:26] #32 closed

[2021-06-07 16:14] smomin commented on #36
It is supported.  Example syntax is `parent_collection/{parentId}/target_collection`.  One note, there is not depublication process on subcollections.  So if there is a record with the same data in multiple sub collection but with different ids, you will have multiple corresponding records in Algolia.

[2021-06-07 16:17] smomin commented on #36
Also, if you plan to use a new index for the subcollection, make sure the API key you are using has the proper permission.

[2021-06-07 19:55] smomin commented on #36
Reopen the issue if you have further questions.

[2021-06-07 19:55] #36 closed

[2021-06-09 05:26] smomin commented on #35
Hey Peter, I will look into this later this week.

[2021-06-09 17:46] PeterCardenas commented on #35
Thank you so much Sajid!

[2021-06-11 17:29] ImanYZ opened #39 "Filtering Tags as Firestore Arrays of Maps (Objects)"
In our Firestore collection, tags are listed as Arrays of Maps (objects), like the following document:
[code]
How can I filter the searh results using these tags?

[2021-06-13 16:56] smomin commented on #39
Hello @ImanYZ, is this a question on indexing or how to configure Algolia?  If its the latter, you can open a support ticket or look at the great documentation that is provided.   Here is a quick search I did on search filter, https://www.algolia.com/doc/guides/managing-results/refine-results/filtering/in-depth/filters-and-facetfilters/.

[2021-06-13 17:09] #39 closed

[2021-06-15 16:31] #35 closed

[2021-06-17 18:16] ImanYZ opened #42 "FIREBASE_CONFIG and GCLOUD_PROJECT environment variables are missing. Initializing firebase-admin will fail"
After installing the "Search with Algolia" Firebase extension, the extension page has three tabs:
1- How this extension works
2- Extension configuration
3- APIs and resources

I followed the instructions in first tab "How this extension works". I've copied the instructions that I get on this page below for your reference.
After running `npx firestore-algolia-search`, the first lines of console log

[2021-06-18 05:52] smomin commented on #42
Is the API key you are using have the correct permissions?

[2021-06-18 13:46] ImanYZ commented on #42
Yes, it is. The Algolia technical support team gave me instructions to create a new API key with the right permissions and after creating the new API key with the right permissions, I still get the same error.

In addition, I asked two other developers in our team to install the extension and try to use it on test apps. They got the same error.

[2021-06-18 14:07] smomin commented on #42
Can you provide me the error you are getting?

[2021-06-18 14:08] ImanYZ commented on #42
I've put the error message in the very first post in this thread:
`{"severity":"WARNING","message":"Warning, FIREBASE_CONFIG and GCLOUD_PROJECT environment variables are missing. Initializing firebase-admin will fail"}`

[2021-06-18 14:11] ImanYZ commented on #42
It console logs the following for a really long time because our collection is large, but it does not create any Algolia index records.
[code]

[2021-06-18 14:58] smomin commented on #42
ok, so you created the key, but you did not specify the index.  I have updated your API key to give access to the nodeindex.

[2021-06-18 15:12] ImanYZ commented on #42
I ran the script again. I'm getting the exact same error message and all the logs. I see nothing in Algolia index records yet!

[2021-06-21 18:26] ipranjal opened #43 "Unable to sync firestore record"
I used the "import existing documents" section from firebase extension and it gives the following error

[code]

[2021-06-21 19:26] smomin commented on #42
I need access to your Algolia account.  Please go https://www.algolia.com/account/support and give me read access so I can check the settings.

[2021-06-21 21:23] Albert-Jan opened #44 "Only updating a bool does not update record in index"
Everything works as expected and syncs perfectly except booleans. If a new document is created it gets loaded in. However if only the boolean field gets updated, it doesn't update it. The field is called 'hidden' so not sure if that's a problem.

The logs for my cloud functions do not show an error. However the bool does not show up inside the data being transmitted. The field 'hidden' is in my in

[2021-06-22 04:53] smomin commented on #42
Were you able to figure out the issue?  Can I close this ticket?

[2021-06-22 04:57] smomin commented on #44
Hey Albert, so you are saying that in Firestore, a field with data type boolean and/or number does not sync with Algolia?

[2021-06-22 04:58] smomin commented on #43
Hey ipranjal, you're not providing enough information for me to action against.  can you provide complete details so I can try to recreate the issue.

[2021-06-22 06:54] Albert-Jan commented on #44
Exactly! Although on initial creation it does create the field, however not after any other field in the document gets updated

[2021-06-22 12:35] ImanYZ commented on #42
Yes, it's fixed. Thank you.

[2021-06-22 12:35] #42 closed

[2021-06-22 16:39] smomin commented on #44
ok, i will look into this issue this week.

[2021-06-23 05:22] anujraghuvanshi commented on #43
Hi @smomin - I am also facing the same issue. Earlier on Firestore extensions I configured some indices with algolia with firestore extension `v0.3.0` and it was getting sync to Algolia smoothly.

Yesterday I configured some more collections from firestore to be synced to Algolia which is created by Extension `v0.4.1` and they are not getting synced to Algolia.

So seems its issue with updated ver

[2021-06-23 05:33] smomin commented on #43
is this the import process or the real time indexing issue?  can you provide me the configuration without the apiKey?

[2021-06-24 06:08] smomin commented on #43
hello, i have tested this out on my local and as well on my Cloud Firestore.  I was able to import to a clean Algolia Index.  I was able to make changes to data in my firestore collection and see the updates come through fine.  Am I missing anything here?

[2021-06-24 09:33] ipranjal commented on #43
@smomin sorry for late reply let me run the query and let you know exactly by EOD

[2021-06-24 16:48] smomin commented on #43
@ipranjal if you can create a video of the issue, it will help me get this recreated and quickly get it fixed.

[2021-06-24 16:51] smomin commented on #44
@Albert-Jan I created a new Field with a Boolean type.  This triggered a reindex.  I changed the value and it also triggered an index.  I was able to successfully do this for fields with number as data type.  Can you create a video of the issue for me to really see the problem.

[2021-06-24 18:52] Albert-Jan commented on #44
Hi! Thanks, I've attached a video demonstrating the issue that I'm facing. As you can see, changing the type of the field 'hidden' from bool to string updates it correctly. However when it is a bool, the field never gets updated.

[Video on Google Drive](https://drive.google.com/file/d/1CLOwCAoXhMYfyFAMDpx-EPo1CgKporIG/view?usp=sharing)

[2021-06-24 19:05] smomin commented on #44
Thanks for the video.  Can you send me your extension configuration for the `Fields`?

[2021-06-24 19:09] Albert-Jan commented on #44
<img width="647" alt="Screenshot 2021-06-24 at 21 08 39" src="https://user-images.githubusercontent.com/11318861/123319169-5e2bb000-d530-11eb-9bec-dfb3ace29130.png">

[2021-06-24 19:10] Albert-Jan commented on #44
Please let me know if you need anything else! Thanks for following up with me!

[2021-06-25 14:37] smomin commented on #44
Ok, figured out the issue.  I will get a PR ready for the fix.

[2021-06-25 14:45] smomin commented on #43
Please provide the collectionPath and fields configuration.

[2021-06-25 19:03] ipranjal commented on #43
Step 1

Command I typed :
[code]

Output I got :
[code]

Step 2

[code]

Answer : yes

Output:
[code]

[2021-06-25 19:08] ipranjal commented on #43
Snapshot of collection In firestore

<img width="1163" alt="Screenshot 2021-06-26 at 12 37 01 AM" src="https://user-images.githubusercontent.com/7591484/123473750-a32a1200-d616-11eb-8829-ccd8fa870157.png">

Firestore Secutity rule:

[code]

[2021-06-25 19:11] ipranjal commented on #43
@smomin let me know if I am missing any information you require :)

[2021-06-25 19:18] ipranjal commented on #43
Just incase , here is my api key generation with all appropriate permissions

<img width="1089" alt="Screenshot 2021-06-26 at 12 45 51 AM" src="https://user-images.githubusercontent.com/7591484/123474844-331c8b80-d618-11eb-83bf-20b41ee9ce8d.png">

[2021-06-25 19:21] ipranjal commented on #43
@smomin I also noticed this looks somewhat similar to #42 I am not sure though that we are facing the same problem

Note : Both firebase project and Algolia project are freshly made on the day I reported this issue

[2021-06-26 20:18] smomin commented on #42
Hey @ImanYZ, can you post your solution that fixed this issue

[2021-06-26 21:38] smomin commented on #43
Hey @ipranjal, thanks for sending all this information.  Now looking at everything.  I see the issue.  The error you are getting is the Collection Path is not set.  From your CLI command, you are missing `\` at the end of the GOOGLE JSON location string.  Here is the correct command:

[code]

[2021-06-28 09:03] ImanYZ commented on #42
I just ignored that error message and let the script complete its execution. It seems working because it generated the records on my Algolia index.

[2021-06-28 17:04] smomin commented on #43
@ipranjal is this is fixed, can we close this issue.

[2021-06-28 20:38] ipranjal commented on #43
@smomin  I tried it but still the same issue :'(

<img width="1440" alt="Screenshot 2021-06-29 at 2 05 03 AM" src="https://user-images.githubusercontent.com/7591484/123700984-d8389d80-d87e-11eb-8f7a-5cafa72dad1b.png">

[2021-06-28 23:00] smomin commented on #43
Hey @ipranjal, lets try the below command:

[code]

[2021-06-29 14:20] ipranjal commented on #43
@smomin  weird, it worked out as single line comment , am closing this issue for now, here are my spec where I was running the command

OS : MacOS Big Sur
Terminal: zsh

[2021-06-29 14:20] #43 closed

[2021-06-30 05:14] #44 closed

[2021-06-30 07:02] Albert-Jan commented on #44
Thank you for the quick assistance and fix! Everything works as expected now. 😄

[2021-07-01 06:36] icybergenome commented on #36
Hi @smomin !
Is it possible for generic path as well something like `parent_collection/*/target_collection`, because I tried it already and it didn;t work. Or it is only possible for specific `parentId`.

[2021-07-02 22:03] foodlyhenry opened #46 "Unable to Import Records Into Algolia"
Hi, I have a very similar issue to:
[https://github.com/algolia/firestore-algolia-search/issues/43#event-4954001620](url)
and
[https://github.com/algolia/firestore-algolia-search/issues/42#issuecomment-869508635](url)

Ignoring the error messages like for issue #42 and using the one liner command provided in #43 did not solve my problem.

Here is the command I ran:
`LOCATION=us-central1 ALGOLIA_AP

[2021-07-05 05:02] smomin commented on #46
I am not seeing any error message but warnings.  Can you send me a screen shot of your API permissions?  (make sure to black out sensitive data)

[2021-07-08 22:00] foodlyhenry commented on #46
Here it is, sorry for the late reply. Is this what you needed?
![Screen Shot 2021-07-08 at 3 00 23 PM](https://user-images.githubusercontent.com/79164619/124996095-3abb3780-dffd-11eb-8077-18fe72a81c2a.png)

[2021-07-09 05:40] smomin commented on #46
I am curious if your collection path is incorrect.  Can you try changing it to `Restaurants`?

[2021-07-10 00:16] foodlyhenry commented on #46
Changing to Restaurants does import the records to Algolia, However what I want is to import the Locations (Restaurants/{restaurantId}/Locations) into Algolia to search.

Also, I forgot to mention that Algolia is properly importing records into the index, however this only happens when I create a new Restaurant not when running the command.

For example If i created a new Document inside 'Restaura

[2021-07-10 04:56] smomin commented on #46
understood.  the issue is on the import script and not the real time indexing.  will take a look.

[2021-07-11 03:24] smomin commented on #31
hey @PeterCardenas, created a PR for the post processing.

[2021-07-11 03:25] smomin commented on #33
Hey @Mario8419, i have create a PR for a new feature to allow post processing.  In this approach, you can add the `id` property to the payload before it gets push Algolia.

[2021-07-13 05:49] #31 closed

[2021-07-13 05:49] #33 closed

[2021-07-13 05:51] smomin commented on #46
This code was merged with the new version 0.5.0.

[2021-07-13 05:52] #46 closed

[2021-07-22 12:33] superdiazzz opened #51 "Error when inserting data from Client"
Hi, am really new using algolia, i don't know but i have following all step in firebase extension doc. I install algolia through firebase extension.

I created new api key and divert it to proper indices(by creating new indices). But i got error in algolia functions when i inserted new record from my website, what logs said is:

Then, i checked algolia dashboard and there is nothing there, still e

[2021-07-22 23:23] smomin commented on #51
Its seems like the API key you are using might not have the correct permissions or set to a specific index.  Can you provide me your Algolia Firebase Extension configuration and the screenshot of your API key permissions.  Make sure to redact important information.

[2021-07-22 23:49] superdiazzz commented on #51
Sure, this is my config
![Screen Shot 2021-07-23 at 06 44 53](https://user-images.githubusercontent.com/10770867/126722590-8c9fd3ae-03fd-4a3b-962b-a86b163524a0.png)
and my api key ini red box
![Screen Shot 2021-07-23 at 06 47 03](https://user-images.githubusercontent.com/10770867/126722624-b6f0cf1f-41ca-4c5f-a2b3-6a6ea73f3717.png)

[2021-07-23 09:37] superdiazzz commented on #51
@smomin can you help me, sir?

[2021-07-23 13:22] smomin commented on #51
Yes, the index name you are using in the firestore extension does not match the name that is permissioned in algolia.  In you firestore extension configuration, change the name to dev_skillBrau.  That should fix it.

[2021-07-23 14:53] superdiazzz commented on #51
thank you, it's works

[2021-07-23 14:53] #51 closed

[2021-07-27 08:00] mnogue opened #52 "Algolia not updating Indexed Fields (proposal)"
I've been using this extension for a few days now and so far it's working very well. However, although creating a new Firebase document correctly indexed it in Algolia, updating the document did not.

After many hours searching for a possible cause, I noticed there were spaces between each comma, the Firebase Function gets triggered, but nothing is updated in the Algolia counter part. Since indexe

[2021-07-27 08:20] Haroenv commented on #52
Fields can contain spaces, but then the field itself would need to be ` name` for example. It's probably a good idea to trim here anyway though:

https://github.com/algolia/firestore-algolia-search/blob/dc264bec3ba2b2f9b8b7263a96686707d42928de/functions/src/util.ts#L46

to

[code]

or maybe even:

[code]

what do you think @smomin ?

[2021-07-27 17:49] smomin commented on #52
@Haroenv this makes sense. do you want to create a PR and update tests for this update?

[2021-08-01 01:59] damechen opened #54 "Integration for realtime database?"
Wondering if there is any plan to add the extension for Firebase realtime database. Thanks!

[2021-08-02 07:20] Haroenv commented on #54
There's an example made by Firebase on how to sync the two here: https://github.com/firebase/functions-samples/tree/main/fulltext-search

[2021-08-03 07:17] #52 closed

[2021-08-06 21:05] kevin-induro opened #55 "Multiple Collection Support"
We currently sync multiple collections into different indices in Algolia. From reviewing the implementation here, it does not seem like that's currently supported. The Algolia website (https://www.algolia.com/developers/firebase-search-extension) does list that it's possible ("Set up or combine multiple collections, or sub-collections, into a single search index"), so am I missing something?

[2021-08-10 05:04] smomin commented on #55
The statement is referring to setting up your extension on multiple collection pointing to the same index.  With this approach you will have a mix of content in one index.

[2021-08-10 05:07] smomin commented on #54
At this time, there is no plans by Algolia to create one for Realtime database.

[2021-08-10 17:12] kevin-induro commented on #55
I could figure something out while pointing to a single index, but no, I'd prefer if I could have each collection pointing to a different index.

[2021-08-12 15:10] smomin commented on #55
If you want each collection to point to a separate Algolia index, this is possible.  Install the extension on each collection and in the configuration set the Algolia index for that collection.

[2021-08-12 17:30] kevin-induro commented on #55
I never realized you could install multiple instances of an extension. Thanks!

[2021-08-12 17:30] #55 closed

[2021-08-19 03:15] deimantasa opened #56 "[Feature Request] Sync with collections OR collectionGroups"
Hello devs,

First of all - thank you for such an amazing and time saving tool. It really helps us to move much faster with Fire + Algolia.

One thing I found missing is support for [collectionGroups](https://firebase.googleblog.com/2019/06/understanding-collection-group-queries.html). It would extremely help as currently, we've to have `global` `collection` in order for it to sync with Algolia. H

[2021-08-19 03:26] dvarnes commented on #56
Do you know that the existing function already works for sub-collections?

Just specify the full sub-collection path:   `rootCollection/{someDocId}/subCollection{someDocId}`

[2021-08-19 03:39] deimantasa commented on #56
This will index only specific collection. My goal is to index `all collections` with the same name (`collectionGroup`).

Example:
`collection` - `users`
`subCollection` - `cars`

I want to listen for changes that happen in `any subcollection of cars` (thus `collectionGroup`) instead of single one as per your sample.

[2021-08-24 11:45] Bones5 opened #57 "Filtering collection"
I only want to index records that are published. I have a boolean isPublished and I would only like records from my collection that are published to be indexed.

I've tried using the transform function but I get an invalid JSON error if I try to return anything other than the data.

Does the extension allow me to filter records before they are sent to Algolia?

[2021-08-24 13:12] Haroenv commented on #57
What do you return from the transform function? This plugin reads `.result` of the response of the function. If you don't want to keep any, if I understand it correctly that response should be `{ result: [] }`

https://github.com/algolia/firestore-algolia-search/blob/f29a83e6faf7b9fb6632e0558c314e3f8a4f395b/functions/src/transform.ts#L25-L31

[2021-08-24 13:47] Bones5 commented on #57
Thank you, I see my error now.

I thought the function operated on each record individually rather than receiving an array of all the records.

That makes a lot more sense.

[2021-08-24 14:03] Haroenv commented on #57
I'll close this issue now, but if you have further questions, feel free to ask!

[2021-08-25 09:56] Bones5 commented on #57
OK, so having looked at this further it appears the transform function is applied to each individual record as described in the ReadMe.

(My biggest problem was actually that my function was in Europe-West-1 not Europe-West-2 and that returned the JSON error. Whoops.)

What I want to do is this:

[code]

Having looked at the extension it looks like this is not possible at the moment as the transfo

[2021-08-25 10:00] Haroenv commented on #57
Sorry for explaining wrong, I think it makes sense as a feature request!

[2021-08-28 13:07] deimantasa commented on #56
Wow - that's terrific. Just ran a test and indeed - it works!

Would be nice to add some description about it, as it was not clear in the beginning that `sub-collections` are taken into account as well.

Thank you for prompt help!

[2021-08-28 13:07] #56 closed

[2021-08-28 16:46] imakevirtual opened #59 "Unable to Import Existing Records Into Algolia"
LOCATION=us-central1\
  PROJECT_ID=nexiev\
  ALGOLIA_APP_ID=<MY APP ID>\
  ALGOLIA_API_KEY=<MY API KEY>\
  ALGOLIA_INDEX_NAME=ev\
  COLLECTION_PATH=ev\
  GOOGLE_APPLICATION_CREDENTIALS=nestra-firebase-adminsdk-jufxu-6f8cfa91bb.json\
  npx firestore-algolia-search

I ran the above command in Powershell. But I got the following error and existing records were not imported.

WARNING: The backfill pro

[2021-08-29 04:08] #59 closed

[2021-08-30 11:57] Lucas-L commented on #59
Hello, having the same issue with WSL (ubuntu) , any luck on this @imakevirtual ?

[2021-08-30 12:00] Haroenv commented on #59
There's no stack trace, but do you have `collectionFields` set? https://github.com/algolia/firestore-algolia-search/blob/dc264bec3ba2b2f9b8b7263a96686707d42928de/functions/src/import/index.ts#L80

[2021-08-30 14:13] imakevirtual commented on #59
The way I ran the command was wrong. What I did to resolve the problem is,

- Move the **service-account.json** file to Desktop.
- Created a file named **Algolia.sh** and paste the command inside of it.
- After that, I ran that file through Git Bash from Desktop.

[2021-08-30 14:19] imakevirtual commented on #59
@Lucas-L
The way I ran the command was wrong. What I did to resolve the problem is,

- Move the service-account.json file to Desktop.
- Created a file named **Algolia.sh** and paste the command inside of it.
- After that, I ran **Algolia.sh** file through Git Bash Terminal from Desktop.

[2021-08-31 16:52] smomin commented on #57
Hello @Bones5

Algolia Search configuration provides a way to filter your search results by using [filtering](https://www.algolia.com/doc/guides/managing-results/refine-results/filtering/) or [Query rules](https://www.algolia.com/doc/guides/managing-results/rules/rules-overview/).  I would recommend this approach.  I am hesitant to add code for this use case.  Also, I would also suggest not sendin

[2021-09-01 09:02] Bones5 commented on #57
Thanks for your reply @smomin

It does look like this is typically done in Algolia. It is similar to an "inStock" for something like Shopify.

Looking at this example it is applied in at during the index https://www.algolia.com/doc/api-reference/api-parameters/numericFilters/#examples

I'm a bit confused how to replicate this using the plugin, do you know where I would add this search to the index

[2021-09-01 09:18] Haroenv commented on #57
If you have the "in stock" attribute as a key of the object/record, you can set it as `attributesForFaceting` and use filters frontend to hide or display those: `facetFilters: [['inStock:true']]` for example. You can also use InstantSearch' toggleRefinement or refinementList for making the UI

[2021-09-01 10:37] Bones5 commented on #57
Thanks for your help @Haroenv

I got there in the end. I spent a lot of time trying to apply the API configuration when it was the was the [Configure](https://www.algolia.com/doc/api-reference/widgets/configure/react/) component I really needed.

`<Configure facetFilters={[["isPublished:true"]]} />` 👍

[2021-09-01 10:37] #57 closed

[2021-09-03 22:33] theo-taylor commented on #59
Same issue on M1 Mac
Solution doesn't work for me

[2021-09-04 01:15] theo-taylor commented on #59
Okay it works when used in a single line

[2021-09-05 18:12] kshitijsubedi opened #60 "Algolia index not updating deleted fields."
Here's what happening :
1.  I remove a field on firestore collection. [field 'type' in my case]
2. The respective field is not deleted on algolia index. [I can still see 'type' on algolia index, I refreshed browser many times and even checked after few hours]

before deletion I tested by changing the field data and the changes are reflected on index. Just that the firestore field deletion part doe

[2021-09-05 23:56] devaaronc opened #61 "Algolia index not updating fields changed to null value."
When I update a field value within a Firestore document to null, the extension executes, but does not actually update the value in the Algolia index. I would assume the Algolia value would be deleted from the index, as null values are not transferred from Firestore to Algolia.

[2021-09-08 18:04] smomin commented on #60
No, you are not missing anything.  The extension uses partialUpdate for creating and updating records.  The method is used because of its ability to version records so it can be used to prevent race conditions.   How often do you remove the fields?

[2021-09-08 23:29] devaaronc commented on #60
@smomin
Would you recommend deleting the document and re-inserting it into the Firestore database in cases where a field is deleted? I think it would help if this caveat could be noted in the documentation (please correct me if I missed it). This is a necessary feature for my app, so if it's possible, it would be a great benefit to include! Thank you for your work!

[2021-09-09 13:07] kshitijsubedi commented on #60
@smomin not often, but I have some fields on the index that are deleted on the firestore and don't want those on algolia.
There are close to one hundred objects that have deleted fields. What can I do to remove those fields from algolia?

[2021-09-10 16:14] smomin commented on #61
Currently this is not possible with the approach I have taken.  I am thinking through an approach that will clean up null attributes.  Will update when I have a solution.

[2021-09-10 16:15] smomin commented on #61
How often are you setting attributes to null?  Can you send me examples so I can see if there are alternative solutions I can think through?

[2021-09-10 16:16] smomin commented on #60
I am thinking through an approach that will clean up null attributes.  Will update when I have a solution.

[2021-09-11 07:35] devaaronc commented on #61
The attributes aren't set to null very often. Example: a document may have an attribute that was mistakenly given a value (by a user), so it is later corrected to null.

[2021-09-11 20:31] bmnidhin opened #63 "Error when performing Algolia index Error: Value for argument "field" is not a valid field path."
indexing fields : channelName,thumbnail,title,duration,id,date,description,category,isVisible,videoScore,views  (from firebase ui)

fields from log : [ 'fields: channelName,thumbnail,title,duration,id,date,description,category,isVisible,videoScore,views,' ]

but it is showing error **Error when performing Algolia index Error: Value for argument "field" is not a valid field path.**

It was working

[2021-09-11 20:32] bmnidhin commented on #63
## Sample Data

category "Comedy"
channelId "Pon1uG0eNnhf9TLsps0jtScndtN2"
channelName "Nirmal Pillai"
comments 3
country "IN"
date September 11, 2021 at 11:03:29 PM UTC+5:30
description " The perfect Bengaluru Sunday morning doesn't exist... We also found the elusive Vada Pav uncle outside Cubbon and gorged on 2 of those beauts each. ❤️ Editing wiz: Gowtham Follow us on da gram: Nirmal: https://w

[2021-09-13 07:44] Haroenv commented on #63
the argument you passed is "fields", but the error is about "field"

[2021-09-13 07:46] Haroenv commented on #61
https://discourse.algolia.com/t/deleting-attributes-in-partial-updates/10154 I think we might be better off updating the objects altogether instead of partially updating. It doesn't have a difference in cost and will solve this issue. Deleting objects alltogether isn't solved by just swapping partialUpdate to save though

[2021-09-13 07:47] Haroenv commented on #61
this issue is a duplicate of #60

[2021-09-13 07:51] Haroenv commented on #60
We should change

https://github.com/algolia/firestore-algolia-search/blob/dc264bec3ba2b2f9b8b7263a96686707d42928de/functions/src/index.ts#L69

and

https://github.com/algolia/firestore-algolia-search/blob/dc264bec3ba2b2f9b8b7263a96686707d42928de/functions/src/index.ts#L52

to `saveObject`, as that will take deleted fields in account, replacing the whole object.

[2021-09-13 08:00] bmnidhin commented on #63
Whole process is handled by algolia extention, I've access only to GUI. I cant change parameters

[2021-09-13 16:33] smomin commented on #61
@Haroenv The partialUpdate was used to manage race conditions that could occur from the cold start up of the Cloud functions.  Before this approach, I had an extra call to the Firestore db to sync up the records after then Cloud Function was warmed up, but this would be a Firestore cost.

I am currently considering looping through the payload for null values.  If I encounter any fields with null v

[2021-09-13 22:08] Lucas-L opened #64 "Can't run firestore-algolia-search in bash script"
Hello everyone,

I've been trying to run the restore script for `firestore-algolia-search`. According to other issues, decided to run it from a bash script:

[code]

But then the output is `firestore-algolia-search: command not found `. I'm writing this issue here because other npx script would work in bash scripts. npx is installed globally and the command is working outside of bash (but no with

[2021-09-13 22:21] #64 closed

[2021-09-14 05:57] smomin commented on #63
Can you send a screen shot of your extension configuration with the sensitive data blacked out?

[2021-09-14 06:51] bmnidhin commented on #63
![image](https://user-images.githubusercontent.com/11921692/133209301-9cbd0a30-0510-475c-bdb4-50e98630aa16.png)

[2021-09-14 07:30] #61 closed

[2021-09-14 16:52] smomin commented on #63
I am not seeing any issues with your configuration.  You mentioned that this was working and now it no changes on your end, you started to see errors in the log.   Is that correct?

[2021-09-16 17:21] smomin commented on #63
@bmnidhin was the issue resolved?

[2021-09-21 15:33] roomman opened #66 "Error performing backfill with Firebase extensions"
New to Algolia and trying to get the Firebase extension up-and-running, but having some issues with the backfill script.

This is the script I am running:
[code]
I'm using the following command:
[code]
I tried reinstalling the extension and still having zero joy.

Any idea where I might be going wrong?

[2021-09-21 15:46] roomman commented on #66
Found the answer [here](https://githubmemory.com/repo/algolia/firestore-algolia-search/issues/59) - needed to create and run a Bash Shell script.

[2021-09-21 15:46] #66 closed

[2021-09-22 17:56] smomin commented on #60
@kshitijsubedi I think i have a solution in mind, but I will need time to write the code.   I will attach the PR to this issue once I have it ready.

[2021-09-23 09:10] saifxx commented on #61
Ok but what if someone uses _'firebase.firestore.FieldValue.delete()'_ to remove the field?

[2021-09-23 15:31] bmnidhin commented on #63
Yes

[2021-09-27 08:00] samsamlh commented on #60
I also need this behavior to be implemented 🙏

[2021-09-27 14:02] nicolopadovan opened #68 "Every Query performed on Algolia counts up towards the read usage count of Cloud Firestore"
As far as I understand, the extensions should only bridge new data to Algolia, which stores the received data in records and sends those back to the user whenever a query is performed.
However, I have noticed that whenever I perform a query on my client (iOS in this case) the read usage of my Cloud Firestore increases by 1 for every hit of the query (which results in an enormous quantity of reads)

[2021-09-27 15:51] Haroenv commented on #68
do you mean an algolia query or firebase query? how are you searching?

[2021-09-27 16:04] nicolopadovan commented on #68
I mean algolia query, and I’m using the Instasearch module for iOS.

Il giorno lun 27 set 2021 alle 17:51 Haroen Viaene ***@***.***>
ha scritto:

[2021-09-27 16:05] nicolopadovan commented on #68
I mean Algolia query, and I’m currently using Instasearch to perform queries.

[2021-09-27 16:06] Haroenv commented on #68
there's no logic to do a firebase query on every search query, is it possible you are doing that code manually in your frontend?

[2021-09-27 16:08] nicolopadovan commented on #68
In fact, I thought so: but by removing the extension, the usage stops increasing, while I can still query through the already present records. As soon as I link the extension again, however, the usage starts increasing again.
I am using infinite scrolling, if this info can be helpful at all.

[2021-09-27 19:39] Ehesp opened #69 "Allow transform to skip records"
Current the [transform function](https://github.com/algolia/firestore-algolia-search/blob/main/functions/src/transform.ts) returns the json payload from the transform endpoint.

Currently it seems that in order to skip a record it'd be best to throw on the callable function, however this would create a false positive log. Instead, is it worth returning an empty object and checking this on the resp

[2021-09-28 07:21] Haroenv commented on #68
Sorry, I'm not sure how the two can be related. Do you maybe mean that every time you make a change in the firebase data it will incur a read of that data, as it needs to be updated in algolia?

[2021-09-28 10:30] nicolopadovan commented on #68
No, I am not editing the Firestore database at all while querying.
Also, I noticed that even after I removed the extension the problem persists, but I am absolutely sure that I am not reading the data from my client (there isn't any code at all that reads the database in my whole app).
Whenever I query data from Algolia, the FIrestore usage increases, and it's not related to my client or to my own

[2021-09-28 11:35] Haroenv commented on #68
search doesn't pass through firebase, so I don't know what can explain this. Do you have the code somewhere that it can be tried out (you can erase the credentials)

[2021-09-28 11:42] Ehesp commented on #69
Thanks, I've applied the filter and it's working client side now:

[code]

It would still be good though to have a way to totally skip a record being stored via the transformer, although I guess that's more of an extension decision.

[2021-09-28 12:07] nicolopadovan commented on #68
Here it is: https://github.com/nicolopadovan/PublicRepo/tree/dev

I moved all the algolia-related data to this project, which doesn't even import Firebase at all, and I tried using it with my API key etc, and the Firestore usage still increased.

To use it, just download it and then run `pod install` in its directory from the terminal.

[2021-09-28 14:45] Haroenv commented on #68
cc @VladislavFitz it's iOS

[2021-09-28 18:58] #60 closed

[2021-09-29 16:42] #69 closed

[2021-10-05 17:30] smomin commented on #68
hello @nicolopadovan, are you still encountering the extra reads on your firestore db?

[2021-10-06 10:08] nicolopadovan commented on #68
Hello @smomin
Finally, after basically rebooting everything (intended as deleting and re-creating the projects both on Algolia and Firebase and then bridging them together), I am not getting extra reads anymore. I don't know what could have caused the issue, but luckily it appears to be gone.

[2021-10-06 10:08] #68 closed

[2021-10-07 14:11] iansmathew opened #72 "Firestore DocumentReference path in Algolia Object"
It would be wonderful to have a configuration option in the extension setup to allow passing the document reference path of the firestore document to the transform functions and algolia index. Perhaps as a key called `firestore_path`

This would allow users to use Algolia to search for documents across collections and then return the actual Firestore document on the front end.

Currently the only

[2021-10-07 16:55] luigi-agosti commented on #72
Good idea, this could be useful... maybe more generically could be to pass reference in the transform and let users of the extension decide what to do.
Thanks

[2021-10-12 15:15] iansmathew opened #75 "Import script runs collection group query that does not respect collection path in config."
Currently the `retrieveDataFromFirestore` function of the import script takes the last segment (the last subcollection) of the collection path and runs a collection group query on it.

This leads to documents that are not part of the config collection path being imported into Algolia.
For eg: if my firestore architecture is as follows:

- Users
    - Records
- TestUsers
    - Records
- Admin

And

[2021-10-13 19:15] #72 closed, assigned to nobody

[2021-10-20 06:43] idrish-sorathiya opened #79 "How to configure multiple collections?"
I am able to successfully configure one collection with one indices. but I want to configure multiple collection and each collection would have corresponding indice. Is it possible in using this extension?

[2021-10-27 21:58] #75 closed, assigned to nobody

[2021-11-02 15:14] devaaronc commented on #60
@smomin I'm curious why this was closed? This issue still remains.

[2021-11-02 15:39] smomin commented on #60
This was automatically closed after the PR was merged to the main branch.

[2021-11-17 17:18] leblancmeneses opened #82 "extension error"
We upgraded to:

Search with Algolia
algolia/firestore-algolia-search@0.5.9

We are seeing this error:

ext-firestore-algolia-search-executeIndexOperation
Error when performing Algolia index { FetchError: invalid json response body at https://accounts.google.com/ServiceLogin?service=ah&passive=true&continue=https://uc.appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttps://xxxxxx/extAlgoliaSearchC

[2021-11-17 21:34] smomin commented on #82
Hello @leblancmeneses,

We have tested this on our Firebase Database and we did not find any issues.  Can you provide more details?  Also, based on errors, it seems like Service User issue.  You might want to also open a ticket with Firebase team.  Thanks.

Sajid

[2021-11-18 23:08] jdmeyer3 opened #83 "Transform data when using a full sync"
Is it possible to transform the data before loading it to Algolia when using the script `npm firestore-algolia search`?

[2021-11-19 13:33] kjetilhp opened #84 "Invalid secret id"
Error: HTTP Error: 400, Secret ID `***my-api-key***` is invalid, must be of form `projects/*/secrets/*/versions/*`

Created the key as recomended, and have previously installed working extension for a collection with this key, now trying to add another for another collection, I get this error.

[2021-11-22 09:46] Haroenv commented on #84
Have you tried the steps described in https://github.com/algolia/firestore-algolia-search/pull/81#issuecomment-973936681?

cc @i14h

[2021-11-22 14:40] kjetilhp commented on #84
@Haroenv I have not, I'm doing this commandline with vars file. But I'll give it a try in the web gui.

[2021-11-22 18:15] smomin commented on #83
I don't really understand you question.  Can you provide more detail?

[2021-11-24 14:15] kjetilhp commented on #84
@Haroenv works in ui, so I guess this isn't algolia related.

[2021-11-24 14:15] #84 closed

[2021-11-29 16:52] jdmeyer3 commented on #83
With the extension, I can specify a transformer function to manipulate the data before it is sent to Algolia. With the bulk load, is there any way to specify a function or use some transform code before sending the data to Algolia.

[2021-11-30 14:07] jelizarovas opened #85 "Algolia API Key Description"
In the API key description, for first time users who just want to set up as quickly as possible, when I was asked for API key, I have two options in algolia api keys - Search-Only API key or Admin API key. In the description it says Do not use the admin API key, so naturally revert to the other available API key which is Search Only. Since it says "We recommend creating new key", - I assume it's b

[2021-11-30 14:22] Haroenv commented on #85
Not fully sure whether that explicitly needs to be said, as just before it mentions to have addObject etc. as permissions.

The description is declared here

https://github.com/algolia/firestore-algolia-search/blob/e9e75ca21bad782e1f4d601dfb4a559aeccf5182/extension.yaml#L112

[2021-12-02 17:31] maxmarchionda opened #86 "Algolia API Key: creation failure"
I would like to use this extension, however my organization at work has put in restrictions around where secrets can be created in the Google Secret Manager so simply creating a secret using this extension fails:
[code]
A solution to this problem would be to allow myself to create the secret ahead of time and skip this step. Interested in hearing your thoughts.

[2021-12-06 23:18] smomin commented on #86
Hey Max,

It may look like this would be a conversation with the Firebase team who is managing the Extension installation and configuration flow.  I would recommend talking to them first.

[2021-12-06 23:19] smomin commented on #85
I don't think we need to explicit say this considering we are putting all the rights needed on the permission.

[2021-12-06 23:19] #85 closed

[2021-12-06 23:23] smomin commented on #83
You should be able to do an import process executed on your local instance using the command below.  The script will call the Transform function to do any preprocessing before sending to Algolia.  I hope this helps.

[code]

[2021-12-06 23:25] smomin commented on #82
Closing the ticket due to no response.

[2021-12-06 23:25] #82 closed

[2021-12-10 23:13] joehan commented on #86
Hey @maxmarchionda  - Joe from the Firebase Extension team here. Thanks for the suggestion, we will definitely consider adding support for this to our console install flow.

Fortunately, you can do this today! You can use existing secret if you deploy the extension via `firebase deploy`. Docs for the feature can be found here: https://firebase.google.com/docs/extensions/reuse-project-config - for

[2021-12-14 01:38] agreaves commented on #84
Any fix for this from the command line / or ideally without requiring API access for the Secrets API. We need to be able to install the Algolia extension automatically and do not have access to the GUI, so the recent change now breaks that process.

Alternatively, is there a straightforward way to enable the Secrets API from the command line.

[2021-12-16 15:35] cpena opened #87 "Missing module in script to import existing documents"
Hi,

I 'm trying to import existing Firestore documents using `npx firestore-algolia-search` and following [this guide](https://github.com/algolia/firestore-algolia-search/blob/main/POSTINSTALL.md) , but I'm receiving this error:
[code]

NODE v10.23.3
NPM v6.14.11

[2021-12-21 12:25] dipinsonwani opened #88 "Firebase Cloud functions error 'Unreachable hosts - your application id may be incorrect. If the error persists, contact support@algolia.com'"
When I deploy the algolia search in my app it works really well. But the other cloud functions which I have deployed works only when algolia search is not deployed. I get the following error in the logs
Unreachable hosts - your application id may be incorrect.

My application Id is correct and I am using the firebase blaze plan.

Version:
"algoliasearch": "^4.11.0",

    "express": "^4.17.2",

   

[2021-12-22 05:27] smomin commented on #87
Please provide the full cli command that was executed.  Make sure to redact sensitive data.

[2021-12-22 05:31] smomin commented on #88
I don't completely understand but looking at `algolia.js`, I am curious if algolia app id and keys are being set.  Can you verify by console.log out your algolia app id?

[2021-12-22 05:32] smomin commented on #83
Closing due to no response.  Please reopen if the issue still exists.

[2021-12-22 05:32] #83 closed

[2021-12-22 05:39] dipinsonwani commented on #88
Yes I have set app Id and API key directly. I have removed in this code for security.

[2021-12-23 13:49] cpena commented on #87
Hi , this is the full command:
[code]

[2021-12-23 19:06] smomin commented on #87
I am not sure if this might be you local environment.  Can you execute this command in a Node docker container?

[2021-12-23 19:08] smomin commented on #88
Can you also open a ticket with Firebase?  This could be an issues on configuration.

[2021-12-29 10:18] dipinsonwani commented on #88
Yes I will do that

[2022-01-03 09:48] Haroenv commented on #88
if I remember it correctly you also get this error if not on the blaze plan on firebase, as it blocks outgoing requests, is that possible in your case?

[2022-01-06 04:17] smomin commented on #86
hey @maxmarchionda, is the issue resolved?

[2022-01-06 04:18] smomin commented on #87
hey @cpena, were you able to execute this commend in a Node docker container?  Did it resolve your issue?

[2022-01-06 04:19] smomin commented on #88
hey @dipinsonwani, did the Firebase team provide any directions or help to resolve your issue?

[2022-01-13 21:51] mtfum opened #89 "Type of timestamp value is better dictionary type than number"
Hi, Thank you for all your help!

I started to use this extension lately and realized the value of the timestamp will be changed to a number of milliseconds.
ref: https://github.com/algolia/firestore-algolia-search/blob/main/functions/src/processors.ts#L62

I need to do anything another when decoding the struct which includes another type like this.
Are there some reasons to have it as a number ty

[2022-01-13 23:25] Haroenv commented on #89
I'm not sure if I understand your question correctly, but we have a `config.transformFunction` which can be a cloud function to transform the record before indexing.

[2022-01-15 07:37] mtfum commented on #89
I see I can transform the record as I want.

A type of timestamp in Firestore is saved as a type of number only the number of milliseconds in Alolia so far.
As default, why don't we save a type of timestamp like the below code?

[code]

[2022-01-17 08:48] scy0334 opened #90 "Error fetching records from Firestore to Algolia using Firebase Extensions"
I've followed all the instructions and ran following script to insert Firestore data to Algolia indexes.
[code]

But I keep getting error as below.
[code]

For "GOOGLE_APPLICATION_CREDENTIALS", I went to Firebase Console > Settings > Service Accounts and generated a new key for "Firebase Admin SDK" for this project and used the JSON file.

When I manually update a document on Firestore, it does ad

[2022-01-17 09:53] scy0334 commented on #90
I found the issue.

I didn't add the Algolia API key in the script because I thought I was supposed to erase all the "unspecified parameters".

[2022-01-17 09:53] #90 closed

[2022-01-18 00:52] #88 closed

[2022-01-18 00:52] #87 closed

[2022-01-18 00:52] #86 closed

[2022-01-19 04:02] smomin commented on #89
Hey mtfum, representing timestamp in milliseconds is a known and universal standard for representing time.  We are coding against best practices and standards.  If you want to make any customization,  you can definitely fork this repo and make you change and deploy your version to your firestore instance.

[2022-01-19 04:25] mtfum commented on #89
Ok, it makes sense to me. Thank you for your advice.

[2022-01-19 04:25] #89 closed

[2022-01-19 12:10] bennihz opened #91 "Configuring, when to store a document"
I could not find such a feature in the docs. Can I configure the function to only create an index in Algolia, if for example a 'verified' property is 'true'?

[2022-01-19 12:58] Haroenv commented on #91
With the current implementation it's not possible to sync only part of the records, but you can use filters to choose not to display all records using Algolia

[2022-01-20 08:19] iansmathew commented on #91
@bennihz I believe you can just set a transform function that exits the function without returning anything (as opposed to returning the data payload) and that would result in the object not being indexed

[2022-01-21 01:50] cvanputt commented on #64
What was the solution for this? I am having this issue

[2022-01-21 02:14] cvanputt opened #93 "Permission error"
I am getting the following message after setting up the extension through firebase
`{
  "message": "Not enough rights to update an object near line:1 column:1893",
  "status": 400
}`

I assumed that all permission would be setup on install. App ID and API Key are correct. Did I miss a step?

[2022-01-21 04:13] smomin commented on #93
Is this error occuring during installation or post installation?  Please provide more details so I can better assist.  Thanks

[2022-01-21 04:18] smomin commented on #91
If I understand this issue, this might be related to issue #57.  Take a look and see if this helps.

[2022-01-29 11:50] heldtogether opened #94 "Warning, FIREBASE_CONFIG and GCLOUD_PROJECT environment variables are missing. Initializing firebase-admin will fail"
When trying to run an initial import of my data from Firestore, I get the error `{"severity":"WARNING","message":"Warning, FIREBASE_CONFIG and GCLOUD_PROJECT environment variables are missing. Initializing firebase-admin will fail"}`. I've seen other people have encountered this but the resolution isn't clear.

I'm running the command provided after installing the extension on Firebase and I belie

[2022-02-16 04:17] #91 closed

[2022-02-16 04:17] #93 closed

[2022-02-16 23:46] benomatis commented on #84
@Haroenv The command line installation appears to require the secret path from the Secrets Manager, and not the Algolia secret itself. The UI installation generates the secret in the Secrets Manager automatically, and I'm not sure if you can manually create that secret (its naming and all looks quite specific). So wondering if this is actually a bug in the command line script, but if anything, it

[2022-02-17 13:50] benomatis opened #95 "Use with emulator?"
I'm trying to set this extension up with the emulator, and I did manage to download the extension, and subsequently launch it, but the problem is that the import script will obviously take the data from the online project I downloaded the extension from, and I'm looking for a way for algolia to use my local firestore db instead.

Starting with the first import (I'd create a separate Application in

[2022-02-22 04:32] smomin commented on #95
Are you looking to import data into your emulator?  If so, see if the Firestore team can help with importing data into your emulator.  There is documentation on the Firebase site to do this.

[2022-02-22 08:23] benomatis commented on #95
No, I have already set up the emulator, I'm looking to integrate Algolia search with the emulator. The problem I have right now is that the `onWrite` function of this extension is not going to kick in, new data written into my emulator will not update in Algolia, because the function is expecting calls from my online project.

I tried adding the extension to my emulator manually, but then I realiz

[2022-02-22 23:46] smomin commented on #95
The extension was built using the emulator.  There is a npm start script at the root of the project that will start the emulator `npm run emulator:ext:start`.  You might need to set the `project` and set the `test-params.env`.  Once you have made these changes, starting up the emulator will load some test data.  Any changes to the test data in the emulator will be reflected in your Algolia index.

[2022-02-23 12:21] benomatis commented on #95
I get `error: unknown option '--import'` - do I have to run `firebase --open-sesame extdev` first?

I have tried this by simply downloading the code here and extracting into a folder inside my project, but that might not be the right way to do it.

Do I follow the [contribution guide](https://github.com/algolia/firestore-algolia-search/blob/main/CONTRIBUTING.md) at all or do you recommend doing th

[2022-02-24 05:31] pabloleone commented on #95
* Checkout the [firestore-algolia-search](https://github.com/algolia/firestore-algolia-search) project locally.
* Clone the `test-params.env.example` into `test-params.env`.
* Add the following values in it:

[code]

* Amend the `firebase.json` configuration file:

[code]

* Execute the following command `firebase ext:dev:emulators:start --test-params=test-params.env --project={YOUR FIREBASE PROJE

[2022-02-24 14:15] benomatis commented on #95
@smomin @pabloleone Thank you so much for your help.

The thing is that I already have a project that uses the firebase emulator, and I am using the import flag in there of a saved state of my online db, so all that is working fine. So I'm guessing if I move all my firebase / firestor related config over to the extension's folder (or amend the folder path for the import), it should work, my app sh

[2022-02-24 18:49] benomatis commented on #95
@smomin @pabloleone While with your help I could fire up the emulator, I have no way to simulate my app working with it, hosting will just show a blank page. I feel I'm missing an ingredient, especially if I want to use this with an existing app locally...

[2022-02-28 23:05] smomin commented on #95
Hey @benomatis, have you reviewed this Firebase article on connection App to Firebase Emulator, https://firebase.google.com/docs/emulator-suite/connect_firestore?

[2022-02-28 23:35] benomatis commented on #95
Yes @smomin, like I said above, it's all up and running, and have been testing my app for over a year now with the emulator, but I'm new to Algolia with firestore, and extensions cannot be installed on the emulator as they can on a real project...

[2022-03-02 12:46] pabloleone commented on #95
@benomatis I think you are right, extensions cannot be installed the same way. I personally had to move my backend development to the algolia project as I couldn´t figure out how to move the extension into my own project emulator, so I did the opposite, I moved my project functions over to the algolia extension project and make my custom functions work with it... it isn´t ideal, but it works.
I di

[2022-03-02 12:57] benomatis commented on #95
@pabloleone well, that sounds complicated :) but I appreciate your advice; at least I can see I'm not alone with this challenge.

I'm happy to close the issue as there is apparently no official process around this and ample info has been provided here already, or I could leave it open in case anyone still wants to add something...?

[2022-03-07 10:36] mariusg-shift opened #96 "Import script"
Hello, I'm having trouble with importing a firestore collection using the following script:

LOCATION=us-central1\
  PROJECT_ID=hidden\
  ALGOLIA_APP_ID=hidden\
  ALGOLIA_API_KEY=hidden\
  ALGOLIA_INDEX_NAME=test\
  COLLECTION_PATH=activities\
  FIELDS=name;title;description\
  GOOGLE_APPLICATION_CREDENTIALS=</path/to/service/account/key>\
  npx firestore-algolia-search

Terminal output:
{"severit

[2022-03-07 10:36] mariusg-shift commented on #96
npm/npx version is 8.3.1

[2022-03-07 12:13] Rohithgilla12 commented on #96
@mariusg-shift Yes, the script wasn't working I wrote a small custom Node JS script for this.

[code]

Maybe this could be helpful!

[2022-03-07 12:16] Rohithgilla12 commented on #96
Also @maintainers if it helps, the error is something to do with the collection path, the function is trying to strip the text by "/" but this wouldn't be possible if user gives the base/root collection name `users`

[2022-03-08 16:02] mariusg-shift commented on #96
@Rohithgilla12 thank you, the js script worked quite well. I was a bit hesitant to use something else than it is specified in the docs...

[2022-03-11 09:32] Cosmopal opened #97 "Unauthenticated firebase functions?"
Hi,
Currently, I have deployed the algolia-firestore extension along with a transform function as explained in the README. With my current deployment, I get this error:
[code]

So looks like Algolia app is not properly authenticated before calling the firebase transform function. This results in the app skipping the transform and just writing the firebase doc as it is.

The README Mentions:
**The

[2022-03-11 14:24] Cosmopal commented on #97
I found the issue. I was using a different location for the firebase function that what I had deployed Algolia on.

[2022-03-11 14:24] #97 closed

[2022-03-15 10:01] garyodonoghue opened #98 "Skip certain documents from being indexed"
Is there a way to skip/ignore particular document updates, i.e. filtering. For example if i have a collection of documents, each document containing a 'type' property, and I'm only interested in document updates where type == 'sport', how could i achieve this?

I thought of using the transform function to check the 'type' and return an empty response if it's not a value im concerned with, e.g. 'sp

[2022-03-17 18:28] gottliebtj opened #99 "Update from X.X.X to 0.5.9 Breaks Connection to Algolia"
Repeatable Steps:

1. Install firebase extension 0.5.4
2. Connect Algolia via custom API keys
3. Import collections via firestore-algolia-search npx package.
4. change firestore entries and succussfully see them update in algolia.
5. update firebase extension to 0.5.9.
6. Try and change firestore data and see reflection but nothing changes unless i manually run the migrations via the cli.

Thanks

[2022-03-17 21:31] izanamiah commented on #96
same error problem here, i wasn't able to back fill my collection using this script. Any update on this issue?

[2022-03-18 18:39] smomin commented on #98
Hey @garyodonoghue

At this time, there is no way to skip documents, but I will consider this feature.  The only approach is to set up filters during query time to filter out results based on attribute.  You can look at this issue if this helps, #57.

[2022-03-18 18:49] smomin commented on #95
I will close this for now, but open it if you need any more support.

[2022-03-18 18:49] #95 closed

[2022-03-18 19:07] smomin commented on #96
Hello,

I am looking at this issue.  I am seeing two problems here.

1. The `FIELDS` should be comma separated, not semi-colon.
2. If you're using UNIX flavored OS, please add `\` at the end of each line for a multiline command or make the command a one liner if you don't want to use a `\`.

I hope that helps

[2022-03-18 19:13] smomin commented on #99
Please check the extension logs for errors.
<img width="1000" alt="Screen Shot 2022-03-18 at 12 12 37 PM" src="https://user-images.githubusercontent.com/1305323/159069350-b2ee6eb2-3473-4fb2-882e-072280a24f52.png">

[2022-03-18 19:45] izanamiah commented on #96
Hi @smomin,

Thanks for your answer.
I have all fields comma separated and added a \ at the end of each line but still have this problem.

[2022-03-18 20:40] smomin commented on #96
@izanamiah can you provide details?  it will help understand where the problem issue.  Send me the command, error, screenshot or videos that will show me what you are seeing.

[2022-03-19 02:20] navinnarkhede opened #100 "Promise function error"
![20220318_232121.jpg](https://user-images.githubusercontent.com/95497694/159103024-54fb0651-a03e-4ae8-bac3-d28139288c7c.jpg)
Console:-
Stripe payement is not working
![IMG-20220318-WA0003.jpeg](https://user-images.githubusercontent.com/95497694/159103028-a37f2fe9-3457-4e74-a61b-bcc8ae80bb86.jpeg)

[2022-03-19 19:34] izanamiah commented on #96
@smomin

the command i run was:
[code]

The error message i got was:

`{"severity":"WARNING","message":"Warning, FIREBASE_CONFIG and GCLOUD_PROJECT environment variables are missing. Initializing firebase-admin will fail"}
{"algoliaAPIKey":"********","severity":"INFO","message":"Initializing extension with configuration"}

WARNING: The back fill process will index your entire collection which will

[2022-03-21 12:14] clintgc commented on #99
`Error when performing Algolia index {"transporterStackTrace":[{"triesLeft":3,"host":{"protocol":"https","url":"HLG1XKKK7M.algolia.net","accept":2},"response":{"content":"{\"message\":\"Index not allowed with this API key\",\"status\":403}","status":403,"isTimedOut":false},"request":{"responseTimeout":30,"method":"POST","data":"{\"requests\":[{\"action\":\"partialUpdateObject\",\"body\":{\"Season\

[2022-03-21 17:27] smomin commented on #96
Have you tried it without the newline between the properties and the command.

[code]

[2022-03-21 17:29] smomin commented on #100
I think you are trying to run the integration outside of the Firebase service.  If you can let me know what you are attempting to do, then I can properly direct you.

[2022-03-21 18:35] izanamiah commented on #96
@smomin
I tried it as well, still the same error.

[2022-03-22 01:12] navinnarkhede commented on #100
What can we do now ?

[2022-03-22 03:14] smomin commented on #96
can you try the one liner? `LOCATION=us-east1 PROJECT_ID=hidden ALGOLIA_APP_ID=hidden ALGOLIA_API_KEY=hidden ALGOLIA_INDEX_NAME=hidden COLLECTION_PATH=hidden FIELDS=invNumber,name,country,city,year,type GOOGLE_APPLICATION_CREDENTIALS=path/to/firebase-adminsdk.json npx firestore-algolia-search`

Can you provide details on your environment?  What OS, node, npm?

[2022-03-22 12:22] izanamiah commented on #96
@smomin

I'm using the following environment:
Mac OS 12.2.1,
Node 16.14.0
NPM 8.3.1

The two one liner yield the error code below:
`
{"severity":"WARNING","message":"[\n  'Payload size too big, skipping ...',\n  Error: Record is too large.\n      at Object.extract [as default] (/Users/izanamiah/.npm/_npx/da8f72bd08bc95ff/node_modules/firestore-algolia-search/lib/extract.js:60:15)\n      at runMicr

[2022-03-22 18:56] rayanoncyber opened #101 "Migration of large dataset returns Error: 9 FAILED_PRECONDITION: The requested snapshot version is too old"
Hey!

We're trying to migrate our firestore data to Algolia (~5 million records) and we keep facing this issue. Seems like it's related to firestore failing to fetch that much data. Any known or upcoming fix to batch fetch?

Thanks a lot!

[2022-03-23 09:13] Haroenv commented on #101
Hi @rayanoncyber, where are you getting this error? Do you have a stack trace or similar? I don't recognise this error from this code, so I wonder if it's maybe in Firebase itself?

[2022-03-23 10:14] rayanoncyber commented on #101
This is what I get about 5 minutes after running the command

<img width="727" alt="Screen Shot 2022-03-23 at 11 13 43 AM" src="https://user-images.githubusercontent.com/56723055/159675973-0c9a5b9c-25e9-4211-99ce-893a74837d7c.png">

[2022-03-23 12:22] Haroenv commented on #101
Not too sure what can cause this, but it is implied the individual connection is too "old", and it should be processed in batches (eg. https://stackoverflow.com/questions/64712587/google-cloud-pub-sub-function-gives-the-requested-snapshot-version-is-too-old, https://github.com/firebase/functions-samples/issues/890, https://github.com/firebase/firebase-js-sdk/blob/5ad7ff2ae955c297556223e6cb3ad9d4b8

[2022-03-23 14:02] rayanoncyber commented on #101
The error came from the firestore-algolia-search module trying to fetch all documents at once (with big datasets it fails).

I re-wrote retrieveDataFromFirestore to take care of it in sequences through a recursive function. Hope it can help some people with the same problem

`const retrieveChunk = async (lastVisible, maxLength) => {
    const collectionPathParts = config_1.default.collectionPath.s

[2022-03-23 14:52] Haroenv commented on #101
This is very useful, thanks! If you are confident in this code, feel free to make a pull request :)

[2022-03-25 21:51] smomin commented on #96
@izanamiah is the issue resolved?

[2022-03-25 21:51] smomin commented on #99
@clintgc is the issue resolved?

[2022-03-30 22:52] andrewbeeksma opened #102 "Extension does not propogate updates to corresponding Algolia record when setting the value of a property equal to null"
Docs say this: "Anytime you update a document, the extension propagates the update to the corresponding Algolia record. If you delete a document, the extension removes the corresponding Algolia record."

I'm finding that when I update a firestore document property value, the extension correctly updates the corresponding Algolia record. However, if I update a firestore document value by setting tha

[2022-04-03 11:50] aliechti opened #103 "Merge multiple Firestore collections into one Algolia index"
In Firestore we have the limitation that we cannot do read restrictions so we have multiple collections for users.
https://firebase.google.com/docs/firestore/security/rules-fields#allowing_read_access_only_for_specific_fields

But in Algolia we need both collections for our search query.

So do we have to do this manually or is it possible to do this with this plugin?
If not how should we approach

[2022-04-04 07:54] Haroenv commented on #103
In Algolia you have two options, the first is the same as for firebase, different indices or filters for different privacy levels. The second is to add the "private" information in specific attributes, and then add it to [`unretrievableAttributes`](https://www.algolia.com/doc/api-reference/api-parameters/unretrievableAttributes/) via a [secured api key](https://www.algolia.com/doc/guides/security/

[2022-04-04 09:21] thejahweh commented on #103
@Haroenv Thanks for your reply, but that wasn't my question. We don't plan to allow access to our Algolia index publicly, so privacy isn't a problem.

What we want is one merged index in Algolia with both Firebase collections in it.

[2022-04-04 10:06] Haroenv commented on #103
Sorry, I missed the part of the issue where you decided it should be in a single index. With the design of this plugin, that would not be possible, as it's meant for a single firebase collection taking ownership of an index. What you could do is fork and in extract https://github.com/algolia/firestore-algolia-search/blob/main/functions/src/extract.ts point multiple collections to the same index

[2022-04-04 10:52] thejahweh commented on #103
Ok I've looked into the code, what we could do is just remove the part in which it checks if there is something to remove:
https://github.com/algolia/firestore-algolia-search/blob/1b9421bd1036a982578a3b5efe12f258c1557126/functions/src/index.ts#L71

Then we could use it for both collections (add the extension twice). The downside is that if we would remove fields in one Firebase collection they wou

[2022-04-04 11:55] Haroenv commented on #103
That would indeed make sense. Alternatively you could add a unique attribute to each "subindex" via transformer, and only remove those that match that attribute

[2022-04-04 16:46] smomin commented on #102
Hey @andrewbeeksma, the code is set up to handle fields the are removed and not fields that are set to null.  Is there a reason for this usecase?

[2022-04-04 16:49] smomin commented on #100
Closing this issue for now.

[2022-04-04 16:49] #100 closed

[2022-04-04 16:49] smomin commented on #96
Closing this issue for now.

[2022-04-04 16:49] #96 closed

[2022-04-04 16:49] smomin commented on #98
Closing this issue for now.

[2022-04-04 16:49] #98 closed

[2022-04-04 16:49] smomin commented on #99
Closing this issue for now.

[2022-04-04 16:49] #99 closed

[2022-04-04 16:50] smomin commented on #101
@rayanoncyber did you want to send a PR?

[2022-04-04 18:14] andrewbeeksma commented on #102
@smomin Yeah, I realized it was more of a feature and not necessarily an issue/bug with the codebase. Ended up removing the extension and handling updates internally, so no need for any changes. Our personal use-case involved products; products that went off sale were not updated in the algolia index because that null value was not captured. In hind-sight, we could have restructured our code aroun

[2022-04-04 18:14] #102 closed

[2022-04-11 06:02] Suyama-Daichi opened #104 "Can't sync index of subcollection."
Hello. thank to this solution.

In this time, I found that can't sync index of subcollection in version 0.5.9.

Reproduction.

Pattern A.
- Create a collection in root.
→ This extention was created the index and the object in Algolia.

Pattern B.
- Create a subcollection in specific document.
→ It was'nt.

As far as I know, It was working also Pattern B in past.

Would,nt works with sub collection

[2022-04-12 02:59] smomin commented on #104
How many Algolia Extensions installed?
Can you provide me configuration details for all the Algolia extension installation?

[2022-04-13 04:24] smomin commented on #104
What is the configuration on the Algolia Extension monitoring the subcollection?

[2022-04-13 05:50] Suyama-Daichi commented on #104
@smomin
The settings is bellow.

`list_item_ids` is subcollection.
I retried but not work now too.
![image](https://user-images.githubusercontent.com/35884504/163108241-ae5bf98f-93b8-4dcb-b673-e29ef4d22d62.png)

[2022-04-13 15:17] dejiemiabata opened #105 "Transform functions with Algolia firestore extenstion"
I am trying to utilise the transform functions option within Algolia. I have tried the following to no avail and I keep getting errors such as “unexpected token < in json”.

Basically, my posts collection has a userId field which I am trying to transform before sending to algolia. The transformed function should grab the userId field and output data from the users collection.

Below you can see th

[2022-04-14 01:00] i14h commented on #105
it seems that the post request is being redirected to a Google login page which returns html but the request is expecting json

[2022-04-14 02:30] dejiemiabata commented on #105
@i14h okay do you know the right approach to creating a transform function that will work with algolia search ?

[2022-04-14 04:34] smomin commented on #105
@dejiemiabata Try creating a function that allows unauthenticated invocations.

<img width="625" alt="Screen Shot 2022-04-13 at 9 33 23 PM" src="https://user-images.githubusercontent.com/1305323/163314314-a41dfb07-274a-4979-8b24-6920adf2418c.png">

[2022-04-14 04:37] smomin commented on #104
Well, `Collection Path` should be set to this pattern `parent_collection/{parentId}/target_collection`.  What is your parent collection that has `list_item_ids`?

[2022-04-14 11:38] dejiemiabata commented on #105
@smomin I have allowed unauthenticated invocations but the error still persists.

[2022-04-14 11:52] dejiemiabata commented on #97
hey @Cosmopal  I am getting the same error (and I am using the correct location I had deployed Algolia on). Do you mind advising if this is the right logic for creating an algolia transform function ?

`export const transformPosts = functions.region("us-central1").https.onCall(async (payload) => {
  const { userId: userIds } = payload
  const userId = await localFirestore.collection("users").doc(u

[2022-04-15 05:53] Suyama-Daichi commented on #104
Oops!

I resolveed it!
The configuration was bellow.

![image](https://user-images.githubusercontent.com/35884504/163527315-e0d2e642-d3ae-4335-a552-da43d1274433.png)

Thank you.

[2022-04-15 11:43] dejiemiabata commented on #105
<img width="1375" alt="Screenshot 2022-04-15 at 07 41 59" src="https://user-images.githubusercontent.com/77588661/163566817-4ab49915-e2be-4b02-a92c-b3260b01ff54.png">

@smomin still not working

[2022-04-15 12:38] smomin commented on #105
I am looking into it.  I will let you know my findings.

[2022-04-15 17:25] dejiemiabata commented on #105
@smomin I noticed I had the PROJECT_ID was pointing to the wrong project. Sorry for the confusion here.

[2022-04-15 17:25] #105 closed

[2022-04-15 22:10] #104 closed

[2022-04-15 22:10] #101 closed

[2022-04-18 22:36] dochonglo opened #106 "Combining multiple collections or sub collections, into a single search index"
Hello!

I'm interested to know how to set up and combine multiple collections or sub collections into a single search index. For example, my sub collections in Firestore is in the following configuration: group/1234/activities.

Effectively, I have many groups with different IDs, where each has a sub collection of activities. I'd like for users to search the sub collection of all activities (simil

[2022-04-23 00:32] adamunchained commented on #101
It would have been more practical to implement it instead of closing as it makes migration tool useless for bigger datasets.

[2022-04-23 03:24] smomin commented on #106
Hey @ismaelbarry

The Algolia Extension does not support multiple collection to one Algolia index at this time.  I am currently looking for a way to support this use case but I have not found an elegant solution.  I will update this ticket if I can come up with a solution that can address this gap.

[2022-04-23 03:26] smomin commented on #106
also, can you provide me in detail what you are trying to do and the end result json.  This way I know my solution will address your use case.

[2022-04-23 03:27] smomin commented on #106
you can look at issue #103 but I am trying to see if I can implement a better approach.

[2022-04-23 03:28] smomin commented on #103
hey @aliechti, I am looking to address this in a more elegant manner.  can you send me the json structure that you want to see in Algolia.

[2022-04-23 06:39] aliechti commented on #103
I can send you our solution too if you want, of course it got a bit more specific to our case, but maybe it helps.

What we have now is a structure like this:
[code]
So in Algolia we group it too to not overwrite other records from other collections. Then we move the `position` to the root as `_geoloc`. A `lastmodified` entry is added to the root too. There are still some improvements we could mak

[2022-04-25 15:26] smomin commented on #103
thank @aliechti for the information.

[2022-04-26 00:35] dallasclark opened #107 "Deleting a field in Firestore is sending a partialUpdateObject request with the field included"
Related Algolia Support Request: 488433
Support Agent: Tatsuro Handa

We're seeing issues when deleting fields in a Firestore document and Algolia is still showing the field on the object. When deleting the field, we're expecting the Algolia object to delete the attribute as well.

Through Algolia Support, we have identified the attribute is deleted through a `updateObject` request, but the firest

[2022-04-26 04:26] smomin commented on #107
hey @dallasclark

I have taken a look at you issue but I was not able to replicate it.  Here is my video of what I did.  Let me know if I need to adjust me steps to replicate the issue.

https://user-images.githubusercontent.com/1305323/165221071-a6a71247-bb91-400f-91e4-78dd6ea24ec5.mov

[2022-04-27 23:57] omarsourour commented on #98
@smomin Doesn't this PR #58 handle this issue? It seems to me from there that if I add a transform function that returns a null value, the index of the document will not be created.

[2022-04-28 00:30] i14h commented on #98
Yes I think @smomin when you wrote the transform function you allowed a way to skip the entry being indexed, no?

[2022-04-28 00:30] smomin commented on #98
Hey Omar, this PR was not merged.  You can use the Algolia rules to filter out record based on a record property.

Sent from my iPhone

[2022-04-28 00:34] smomin commented on #98
No, I initially was going to merge this but then back away from doing it.  I will take a look at it again.

Sent from my iPhone

[2022-05-04 11:02] lupas commented on #96
Had the same issue as the OP (I am on MacOS using the zsh shell) and landed here.

Putting it all on one line and running it in the zsh shell then worked 🥇 :
[code]

[2022-05-05 02:33] dallasclark commented on #107
Hi @smomin,

Thanks for investigating. Unfortunately, it doesn't appear to be easily replicated but we're definitely seeing issues when we start to get into larger data sets (i.e. production).

Are there any limitations to the number of documents that can be updated at once? Can race conditions occur? We're using batch commits to the collections to re-rank the songs and apply new rankings. If the

[2022-05-05 15:15] smomin commented on #107
hey @dallasclark

just to step back for a second.  how are you running the process to update the Algolia index?  also, can you share you logs with me.  thanks.

sajid

[2022-05-05 23:48] dallasclark commented on #107
Hey @smomin,

![Screen Shot 2022-05-06 at 9 45 30 am](https://user-images.githubusercontent.com/542948/167044466-84cbe337-4b3f-48e7-b177-61f1c30d8b2e.png)

We're using the https://github.com/algolia/firestore-algolia-search extension, as shown above, it's a very vanilla setup. We're relying on this extension only to sync data between Firestore and Algolia.

_Logs coming._

DC

[2022-05-06 01:44] dallasclark commented on #107
No errors showing ...

Example output

[code]

DC

[2022-05-06 04:29] smomin commented on #107
hey @dallasclark

would a batch is sent to firestore, would a batch have the same document updated multiple times?  I assume yes, but I want to make sure.

[2022-05-06 09:50] dallasclark commented on #107
Hi @smomin,

Our first batch script updates all documents once, with a score and removes every single ranking.

We then have a timeout for 5 seconds before the first 100 documents are fetched (ordered by score), these documents are then updated in the next batch script with rankings 1 to 100.

We’re using Google Cloud Scheduled functions to execute these batch commits every 10 minutes.

Sometimes

[2022-05-06 17:01] smomin commented on #107
@dallasclark I am going to introduce a minor feature that will allow a force data sync before processing the data to Algolia.  The force data sync would be another hit to the Firestore db so I am going to make this a configuration toggle so it can be turned on and off.  We can try this feature to see if it correct the data sync issue between Firestore/Algolia.  I will let you know when its in plac

[2022-05-09 02:59] dallasclark commented on #107
Hey @smomin,

Looking at the Pull Request (https://github.com/algolia/firestore-algolia-search/pull/108), it appears you're identifying the issue from having 2 consecutive calls to the document and causing a race condition of some sort.

How confident are you if we updated over 100,000 unique documents in Firestore in a single batch commit, only once per document?

DC

[2022-05-09 04:41] dallasclark commented on #107
Unfortunately, one single batch commit of all unique records at once doesn't resolve the issue either.

DC

[2022-05-09 10:53] dallasclark commented on #107
Hi @smomin,

Early indicators are showing that a single batch commit of all documents is working properly compared to separating the logic into 2 separate batch commits. Unfortunately, memory usage increases significantly with this approach so it's not a long-term fix but it does resolve the issue temporarily.

DC

[2022-05-14 04:39] smomin commented on #107
Hey @dallasclark

I have pushed an update to the extension.  In the configuration, there is a yes/no toggle to force a Firestore read before sending data to Algolia.  Would you be interested in trying this new update?  Let me know.

Sajid

[2022-05-22 20:05] 345ml commented on #96
https://github.com/algolia/firestore-algolia-search/issues/96#issuecomment-1117181625

Work for me

[2022-05-24 05:51] smomin commented on #107
I am closing this issue.  I have a configuration to allow for a force data update before being indexed to Algolia.

[2022-05-24 05:51] #107 closed

[2022-05-31 19:55] rahul2992 opened #109 "Extension unexpectedly stopped working"
The extension was working properly till 11:54:51.498 pm IST. Post that no new logs are coming in the logs dashboard. Looks like functions are not triggering on document update.

 Not sure what the issue and how to debug this issue as no configuration was changed at our end.

Any help would be useful. Thank you

[2022-06-02 05:30] smomin commented on #109
Can you provide more details?  Such as extension version?  What Firebase plan?  Also, the extension function logs.

[2022-06-06 10:59] jfhr opened #111 "Can't change extension configuration or update to latest version"
Hi, I'm using two instances of the extension at version 0.5.10 in one firebase project. When I try to change the configuration or update to a newer version, I get the following error message:

<details>
<summary>Error message</summary>
; RESOURCE_ERROR at /deployments/firebase-ext-firestore-algolia-search/resources/executeIndexOperation: {"ResourceType":"gcp-types/cloudfunctions-v1:projects.locati

[2022-06-06 11:17] fringley commented on #111
I am also experiencing this issue.  I now have broken versions of the firestore functions for two instances of this extension.

I have tried rolling back to 0.5.9 and experience the same issue.

[2022-06-06 11:19] community2code commented on #111
I am also experiencing this issue. I have tried with different firebase project as well, It was working till last Friday.  I now have broken versions of the Firestore functions

[2022-06-06 15:47] smomin commented on #111
hello, i am reaching out to the Firebase team since this possibly can be on their side.  I will update the ticket as soon as I hear from them.

[2022-06-06 16:41] TylerAHolden commented on #111
+1

[2022-06-06 19:13] vitorlsouza commented on #111
+1

[2022-06-06 19:15] eduardo6722 commented on #111
Same here

[2022-06-06 20:29] smomin commented on #111
ok, i have made changes after chatting with the firebase team and now I am able to install the extension successfully.  They are investigating to see what has changed on their side that caused this issue.  Anyone interested on what changed, they can review, https://github.com/algolia/firestore-algolia-search/pull/113.  Thanks.

[2022-06-06 23:03] smomin commented on #109
@rahul2992 is this issues resolved?

[2022-06-08 19:10] izanamiah commented on #96
@smomin Sorry for my late response. It worked for me eventually, it turns out a problem of my text editor. What happened was when I pasted command from text editor into the terminal, it mess up with some format/char types.

[2022-06-10 18:24] drewzb opened #114 "Transforming objectID creates problems on deletion"
I have a transform function which modifies the objectID.

[code]

I do this because sometimes I duplicate an entire user in Firestore -> which results in objectID collisions. This worked great until I noticed that documents deleted from Firestore are not being run through the transform function -> thus the document is not being deleted from Algolia.

For example:
objectID: 123
userId: abc

My tran

[2022-06-16 03:25] smomin commented on #114
Is there a reason why the original objectId is being manipulated?

[2022-06-20 04:03] smomin commented on #114
hey @drewzb the objectId was not meant to be manipulated.  Since there is a additional cost when using Transformation Functions, I will need to add a configuration on the delete action to call the transformation function if defined.  Let me get back to you.

[2022-06-20 04:09] drewzb commented on #114
Thanks, I found a workaround for my needs. So this isn't needed by me
anymore. Maybe for future users, add to the docs that the objectId was not
meant to be manipulated. That way they don't find out after the fact that
things weren't deleted.

On Sun, Jun 19, 2022, 9:04 PM Sajid Momin ***@***.***> wrote:

[2022-06-20 14:18] smomin commented on #114
I will make sure to do that.

[2022-06-20 14:18] #114 closed

[2022-06-28 21:58] SohelIslamImran opened #115 "How to use same fields, collections but multiple environments index name?"
How to use one extension instance with multiple environments [index name](https://github.com/algolia/firestore-algolia-search#:~:text=Algolia%20Index%20Name%3A%20What%20is%20the%20Algolia%20index%20name%3F%20This%20is%20the%20name%20of%20the%20Algolia%20index%20where%20the%20records%20will%20be%20persisted.%20Refer%20to%20naming%20your%20index%20for%20more%20information.) `dev_NAME`, `test_NAME`,

[2022-06-29 17:27] smomin commented on #115
Currently the extension is not set up to send data to multiple indices.  You will have to install the extension multiple times for now to send to different Algolia Indices.

[2022-07-06 15:42] akhattab451 opened #116 "Not working"
I followed the exact steps, but new inserted documents in firestore does not show up in the algolia index

[2022-07-06 16:55] #116 closed

[2022-07-08 05:28] smomin commented on #115
It looks like the issue is resolve.  Please reopen if needed.

[2022-07-08 05:28] #115 closed

[2022-07-08 16:31] dutchkillscreative opened #117 "ReIndex Script Fails"
Hi I've previously had success on prior versions of the extension manually running the reindexing script demonstrated in the below video.

https://youtu.be/ZNVAPpTpKpk?t=1018

However since the update it seems this reindexing operation has been updated to be a fully CLI run function instead of having to create and run a separate file. This is great news however I'm having a timeout error when inde

[2022-07-08 16:56] dutchkillscreative commented on #117
Update: Apparently my app is too successful because it's hitting the rate limit quota for the algolia index `Max API calls/IP/hour: 100`.

Raising this value above my total document count temporarily seemed to resolve the issue. Suggest that since we're agreeing to this warning in advance of the operation:

`WARNING: The back fill process will index your entire collection which will impact your Se

[2022-07-12 01:23] jodovaljow commented on #114
same problem here

[2022-07-12 01:26] jodovaljow commented on #114
I want to use firestore path as objectId

[2022-07-12 02:29] Nethrenial opened #118 "Error when setting up extension"
I've tried to install this extension, but it errors out with a rather cryptic error, and multiple google search didn't lead me to any answers.
This is the error I'm getting,

Use the details below to help resolve this error, then retry installing the extension. If you continue to get this error, we recommend uninstalling the extension to remove any extension resources that might be deployed.

; ER

[2022-07-12 02:54] smomin commented on #118
This might be a firebase provisioning issue.  Can you provide all your configuration information and logs?

[2022-07-12 04:07] smomin commented on #117
@Haroenv what are your thoughts on setting the quota during the import process?

[2022-07-12 04:07] smomin commented on #109
Closing due to no activity.

[2022-07-12 04:07] #109 closed

[2022-07-12 11:30] dutchkillscreative commented on #117
Seems like a good workable solution to me. Wouldn’t take much effort to get the total # of documents in a collection one time. Getting large enough I should be tracking the collection with a counter anyways but I assume for most people it’s probably best to have a limit or upper range.

[2022-07-18 09:37] tom43983 opened #120 "Algolia in Firebase Cloud Functions not working in combination with this extension"
HI! I have installed this extension and it works fine, I am able to do front-end search from my Firebase app with InstantSearch. BUT I need to generate restricted Algolia API keys so that each user can only see the results restricted to the documents they have access to.

I want to do this in Cloud Functions. When I initialize Algolia search and deploy it on Firebase, I get errors. I was wondering

[2022-07-18 13:57] Haroenv commented on #120
As the error is just "there was an error", I think it's more likely this behaviour is something in firebase and not just this extension, and thus you'll have more response contacting firebase support. Thanks!

[2022-07-18 20:06] #120 closed

[2022-07-26 11:50] aceligowska opened #121 "Algolia index not updating NULL fields"
Hello

I encountered very similar case to issue mentioned here: https://github.com/algolia/firestore-algolia-search/issues/60
But unlike there, I did not delete key. I updated it to NULL instead:

fieldName: { ... some map ... }
To:
fieldName: null

I cannot delete key, because I need to support filters with NULL condition.
Setting keys to null does not update algolia index, unfortunately.

I look

[2022-08-02 23:25] smomin commented on #121
i am working on the deployment process using the new firebase CLI.  once i have this working, I will look into this issue.  there is probably a reason why I did not add it.

[2022-08-02 23:25] smomin commented on #118
closing due to no response.

[2022-08-02 23:25] #118 closed

[2022-08-05 11:21] shopin-dev opened #123 "Document splitting"
Hello

I have found a missing functionality with the experimental transform function: Document splitting.

I think it would be a interesting feature for the integration

In my case, I am interested in keeping a complete document record in firebase but synchronizing it with algolia as multiple documents splitting the original from firebase.

I have configure my firebase proyect with algolia extensi

[2022-08-23 15:57] smomin commented on #123
Thanks.  I will check this out.

[2022-08-25 13:49] rahul2992 commented on #109
Hi! Apologies for missing this. As this was production load, we moved to our custom firebase functions for this use-case.

[2022-09-03 11:26] SushyDev opened #124 "Can't install or uninstall extension..."

[2022-09-03 12:09] #124 closed

[2022-09-07 11:16] aceligowska commented on #121
Hello, any update on this?

[2022-09-07 20:28] smomin commented on #121
yes, i am waiting for a review from my colleagues.

[2022-09-08 22:40] #121 closed

[2022-09-09 03:54] smomin commented on #123
@michaeled when you have some time, can you help me with this addition.

[2022-09-09 20:38] linikerunk opened #125 "Erro update extesion algolia into firebase"
Reconfigure extension in Firebase has been a problem...
As the image show:

![image](https://user-images.githubusercontent.com/27506588/189439069-41f5212d-681f-4bdb-a8fa-90fcf724b1d5.png)

[2022-09-09 20:40] linikerunk commented on #125
![image](https://user-images.githubusercontent.com/27506588/189439439-7f7113eb-c9df-4588-94bc-182b6de023ff.png)

[2022-09-09 20:40] linikerunk commented on #125
![image](https://user-images.githubusercontent.com/27506588/189439471-6f38bd6e-dd92-4d46-92ed-f63193b0ddb7.png)

[2022-09-09 20:48] linikerunk commented on #125
![Sem título](https://user-images.githubusercontent.com/27506588/189441128-4a298010-00b7-4977-b834-01333147a78e.png)

[2022-09-14 13:42] dackers86 opened #126 "Lib files are included in the repository"
Firebase Extensions builds the source files during installation and therefore do not require to be committed.

The existing `prepare` script will generate these files.

Steps, required:

- [ ] Add lib to .gitignore
- [ ] Remove currently committed files from the repository.
- [ ] setup CI to run tests & linting
- [ ] fix all formatting issues
- [ ] fix out of date package locks
- [ ] fix all lint

[2022-09-14 23:03] shopin-dev commented on #123
For sure, please let me know how can i help

[2022-09-15 18:58] shopin-dev commented on #123
Please checkout  this fork [https://github.com/algolia/firestore-algolia-search/issues/url](url)

[2022-09-22 12:28] benomatis opened #129 "Feature request: REMOVE commandline inputs for import process"
I really don't like the new way of having to input every piece of info in an input style format during import, a feature, apparently, introduced in v0.5.13. Can you, at least, make it optional? In the previous way I could simply copy and paste it from the extension, and it was done in one go, now I have to individually copy and paste every value - very time consuming and annoying.

[2022-09-26 16:55] smomin commented on #125
This might be a firebase or Google cloud issue.  Please open a ticket with Firebase team.

[2022-09-26 16:57] smomin commented on #123
Go ahead with the PR and I will give it a review.

[2022-09-29 15:30] aagarcia commented on #101
someone was make this change for support large collections.

[2022-10-04 05:09] #125 closed

[2022-10-10 14:17] Davste93 opened #131 "Manually trigger plugin"
Hello!

I saw there is quite a significant delay between the document being updated on firebase and that change being reflected on Algolia in a search result.

Is there any way to force this plugin to trigger manually to expedite the change, or is the only way around it to manually update those entities in Algolia through the REST API?

Thank you so much!

[2022-10-11 18:56] foush opened #132 "[help request] Transform Function auth error"
I'm successfully using the Algolia extension to sync a few Firestore collections into my Algolia project. There is one collection I would like to apply a transform function to

I've followed the docs in setting up the cloud function

[code]

which I've deployed and then specified in the extension config. I'm observing an error in the extension logs where the transform function doesn't appear to be

[2022-10-11 21:03] foush commented on #132
I realized my functions were not deployed in the same region as the extension. Creating a new extension in the same region as the transform function resolved the issue.

[2022-10-11 21:03] #132 closed

[2022-10-12 21:49] smomin commented on #131
I am not sure I understand what you mean by "manually trigger".  By changing the document, Firestore will trigger the Algolia indexing process.

[2022-10-12 21:49] smomin commented on #126
I am working on this task.  I hope to get this updated soon.

[2022-10-13 06:25] shopin-dev commented on #123
https://github.com/algolia/firestore-algolia-search/pull/130

[2022-10-25 16:20] VolodymyrReient opened #133 "Add ability to choose all subcollections"
I have a collection "announcements". This collection has a six subcollections. An example of collection -  [screen](https://i.stack.imgur.com/1fop6.png). I can index only one subcollection (e.x path - `announcements/announcements/list`)

I think it's good to be able to choose all subcollections  into a single search index:
e.x  `announcements/*/list`  ( symbol `*` just for example)
When i set coll

[2022-10-26 20:51] jonathan-chin opened #134 "not syncing on new records?"
I installed the algolia extension 1-2 months ago and followed the instructions to do the initial data import.

however, subsequent changes do firestore have not triggered updates on algolia. currently, I have a new record in one of my collections (verified on Firebase dashboard) but searching for its id in algolia returns no results.

[2022-10-28 04:54] smomin commented on #133
Based on your suggestion, this doesn't know seem to be under our control.  The Firebase team allows for one collection at a time to be monitored per extension.  You can install the extension multiple times to listen for each sub collection.   You might want to chat with the Firebase team on this use case to see what they say.

[2022-10-28 04:55] smomin commented on #129
I will look into allowing this but this is not a high priority at this time if you have a PR, please submit it.

[2022-10-28 15:51] VolodymyrReient commented on #133
Maybe add ability to configure more that one Collection Path at the same time (e.x create second input for Collection Path) - [this field](https://i.stack.imgur.com/X37ty.png)

[2022-10-30 23:02] liorp opened #138 "Version 0.5.15 can't run with npx"
When trying to run `npx firestore-algolia-search` it just fails, but pinning it to version 0.5.14 works.
Failure is Error: could not determine executable to run

[2022-11-02 20:05] joekman990 opened #139 "depublication"
I am trying to understand what depublication is that it is not available on a Firestore sub-collection

[2022-11-07 14:00] Mawizzler opened #140 "Path overwriting firestore field"
Is it possible to opt out of the creation of the path field because my collection contains a field called path and currently gets overwritten by the script with the firestore document path?

[2022-11-07 22:02] smomin commented on #139
What do you mean by "depublication"?  Are you asking if this is provided by the extension or Algolia?

[2022-11-08 04:02] smomin commented on #138
I have fixed the issue in the latest firestore-algolia-search package.

[2022-11-08 04:02] #138 closed

[2022-11-08 04:03] smomin commented on #134
hey @jonathan-chin sorry for the delay, has the issue been resolved?  can you share your configuration details?

[2022-11-08 04:05] smomin commented on #133
hey @VolodymyrReient adding additional inputs would not really do anything if the provision scripts are not set up to recognize the additional inputs.  The provisioning scripts are managed by the Firebase team.

[2022-11-08 04:05] #133 closed

[2022-11-08 04:05] smomin commented on #131
Are there any more insight on what you are looking for here.  If not, I will close this issue.

[2022-11-08 09:46] Mawizzler commented on #140
My document has a field called 'path' and I can't even use a transform function to change it before sending it to algolia because it gets overwritten with the collection path by the extension. Any ideas on how I could fix this?

![CleanShot 2022-11-08 at 10 42 37@2x](https://user-images.githubusercontent.com/17184591/200530785-a8a763f5-5cd7-45bc-9830-1c903080f426.png)

<img width="572" alt="CleanS

[2022-11-22 16:57] smomin commented on #140
Based on the code, you should be able to change the path field in the Transform function.  The entire payload is sent to the Transform function and the result is what gets used in Algolia.  Can you provide details on the Transform function?

[2022-11-22 16:58] #131 closed

[2022-11-22 16:58] smomin commented on #134
I am closing this issue, but please reopen if you can share additional details.

[2022-11-22 16:58] #134 closed

[2022-11-22 16:59] smomin commented on #139
closing this issue since no additional information was provided.  please reopen if you can share more info.

[2022-11-22 16:59] #139 closed